{% extends '::base.html.twig' %}
{% block content %}
<div class='row'>
    <div class="span4">
        <h1>{{ event.school }}</h1>
        <p><a href='{{ path('school', { 'name': event.school }) }}'>See all {{ event.school }} events</a></p>
    </div>
  <div class='span8'>
    <h3>{{ event.name }}</h3>

    <p>{{ event.description }}</p>

    <p><b>Location:</b> {{ event.location }}</p>

    <p><b>Contact:</b> <a href='mailto:{{ event.contactEmail }}?subject={{ event.name }} - {{ event.school }}'>{{ event.contactName }}</a></p>

    <p>
      <a href='{{ path('admin_eventdate_new') }}'><button class="btn btn-small btn-success" type="button">Add a new date</button></a>
    </p>

    <h4>Dates</h4>
    
    <table class='table'>
    <tr><th>Date</th><th>Status</th><th>Actions</th></tr>
    {% for date in eventDates %}
        <tr><td><a href='{{ path('eventdate', { 'id': date.id }) }}'>{{ date.eventdate.format('l, F d Y') }}</a></td><td><span class='label'>{{ date.status }}</span></td><td><a href='{{ path('admin_eventdate_edit', { 'id': date.id }) }}'><button class="btn btn-small btn-primary" type="button">Edit</button></a></td></tr>
    {% endfor %}
    </table>

  </div>
</div>

{% endblock %}